version: '3.8'

services:
  prometheus:
    image: prom/prometheus:v3.8.0
    container_name: monitoring-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./.prometheus_data:/prometheus
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:12.1
    container_name: monitoring-grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/datasource.yml:/etc/grafana/provisioning/datsources/datasource.yml
      - ./.grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password
    networks:
      - monitoring

networks:
  monitoring:
    external: false
